# Film (BOM)


### Aggregate Box Office Numbers per Title

In [14]:
import requests
import lxml.html as lh
import pandas as pd
year = ['2016','2017','2018','2019','2020']

for y in year :
    url='https://www.boxofficemojo.com/year/world/'+y
    page = requests.get(url)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//tr')
    col=[]
    i=0
    for t in tr_elements[0]:
        i+=1
        name=t.text_content()
        col.append((name,[]))
    for j in range(1,len(tr_elements)):
        T=tr_elements[j]
        if len(T)!=7:
            break
        i=0
        for t in T.iterchildren():
            data=t.text_content() 
            if i>0:
                try:
                    data=int(data)
                except:
                    pass
            col[i][1].append(data)
            i+=1
    Dict={title:column for (title,column) in col}      
    if   y == '2020':
        dfOne=pd.DataFrame(Dict).assign(Year=y)
    elif y == '2019':
        dfTwo=pd.DataFrame(Dict).assign(Year=y)
    elif y == '2018':
        dfThree=pd.DataFrame(Dict).assign(Year=y)
    elif y == '2017':
        dfFour=pd.DataFrame(Dict).assign(Year=y)
    elif y == '2016':
        dfFive=pd.DataFrame(Dict).assign(Year=y)        
Aggregate = pd.concat([dfOne,dfTwo,dfThree,dfFour,dfFive], ignore_index=True)  
Aggregate.columns = Aggregate.columns.str.replace(' ', '')
Aggregate = Aggregate.rename(columns={"Rank": "Number", "ReleaseGroup\n": "Title","%":"Change"})
Aggregate = Aggregate.set_index(['Title'])
Film = Aggregate.drop(['Number'],axis =1)
Film

,Worldwide,Domestic,Change,Foreign,Year
Title,,,,,
Bad Boys for Life,"$391,595,346","$191,595,346",51.1%,"$200,000,000",2020
Dolittle,"$204,905,970","$74,605,970",63.6%,"$130,300,000",2020
Sonic the Hedgehog,"$204,208,435","$107,708,435",47.3%,"$96,500,000",2020
Birds of Prey: And the Fantabulous Emancipation of One Harley Quinn,"$173,961,915","$72,861,915",58.1%,"$101,100,000",2020
The Gentlemen,"$87,631,535","$33,731,535",61.5%,"$53,900,000",2020
...,...,...,...,...,...
Above and Below,"$1,189",-,100%,"$1,189",2016
Officer Downe,$850,$850,-,-,2016
A Girl Like Grace,$713,$713,-,-,2016
The Pit,$560,$560,-,-,2016
Green is Gold,$455,$455,-,-,2016

In [19]:
Film.sample(7)

,Worldwide,Domestic,Change,Foreign,Year
Title,,,,,
Honeyland,"$846,646","$815,082",3.7%,"$31,564",2019
The Girl in the Spider's Web,"$35,164,920","$14,841,338",57.8%,"$20,323,582",2018
Dangal,"$303,723,636","$12,391,761",95.9%,"$291,331,875",2016
Mr. Gaga: A True Story of Love and Dance,"$665,617","$173,994",73.9%,"$491,623",2016
Almost Holy,"$23,957","$21,142",11.8%,"$2,815",2016
Gosanja: Dae-dong-yeo Ji-do,"$7,035,812","$34,034",99.5%,"$7,001,778",2016
Earth: One Amazing Day,"$12,851,540","$81,345",99.4%,"$12,770,195",2017

In [15]:
Film.shape

(3136, 5)

In [16]:
Film.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3136 entries, Bad Boys for Life to Green is Gold
Data columns (total 5 columns):
Worldwide    3136 non-null object
Domestic     3136 non-null object
Change       3136 non-null object
Foreign      3136 non-null object
Year         3136 non-null object
dtypes: object(5)
memory usage: 147.0+ KB

In [17]:
Film.describe()

       Worldwide Domestic Change Foreign  Year
count       3136     3136   3136    3136  3136
unique      3129     3004    826    1998     5
top       $7,768        -      -       -  2018
freq           2      119   1137    1137   898

# Notes 
### 1. Numbers have 10-20% Error compare with IBOE