# Film (BOM)


### Aggregate Box Office Numbers per Title

In [3]:

import requests
!pip3 install lxml
!pip3 install pandas
import lxml.html as lh
import pandas as pd
year = ['2016','2017','2018','2019','2020']

for y in year :
    url='https://www.boxofficemojo.com/year/world/'+y
    page = requests.get(url)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//tr')
    col=[]
    i=0
    for t in tr_elements[0]:
        i+=1
        name=t.text_content()
        col.append((name,[]))
    for j in range(1,len(tr_elements)):
        T=tr_elements[j]
        if len(T)!=7:
            break
        i=0
        for t in T.iterchildren():
            data=t.text_content() 
            if i>0:
                try:
                    data=int(data)
                except:
                    pass
            col[i][1].append(data)
            i+=1
    Dict={title:column for (title,column) in col}      
    if   y == '2020':
        dfOne=pd.DataFrame(Dict).assign(Year=y)
    elif y == '2019':
        dfTwo=pd.DataFrame(Dict).assign(Year=y)
    elif y == '2018':
        dfThree=pd.DataFrame(Dict).assign(Year=y)
    elif y == '2017':
        dfFour=pd.DataFrame(Dict).assign(Year=y)
    elif y == '2016':
        dfFive=pd.DataFrame(Dict).assign(Year=y)        
Aggregate = pd.concat([dfOne,dfTwo,dfThree,dfFour,dfFive], ignore_index=True)  
Aggregate.columns = Aggregate.columns.str.replace(' ', '')
Aggregate = Aggregate.rename(columns={"Rank": "Number", "ReleaseGroup\n": "Title","%":"Change"})
Aggregate = Aggregate.set_index(['Title'])
Film = Aggregate.drop(['Number'],axis =1)
Film

Defaulting to user installation because normal site-packages is not writeable
Collecting lxml
  Downloading lxml-4.8.0.tar.gz (3.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 9.6 MB/s eta 0:00:000m eta 0:00:01[36m0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: lxml
  Building wheel for lxml (setup.py) ... done
  Created wheel for lxml: filename=lxml-4.8.0-cp38-cp38-macosx_10_14_arm64.whl size=3024234 sha256=428ed521b267fb442fb97de9fca5c2533dc95902e16005d05b76d8da6c653d52
  Stored in directory: /Users/nmggeneric/Library/Caches/pip/wheels/b0/fd/85/b657b0bb522ca7820a9af40ad25cb9017e42823a0993244fda
Successfully built lxml
Installing collected packages: lxml
Successfully installed lxml-4.8.0
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/nmggeneric/Library/Python/3.8/lib/python/site-packages (1.4.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/nmggeneric/Library/Python/3.8/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.0 in /Users/nmggeneric/Library/Python/3.8/lib/python/site-packages (from pandas) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in /Users/nmggeneric/Library/Python/3.8/lib/python/site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)

,Worldwide,Domestic,Change,Foreign,Year
Title,,,,,
The Eight Hundred,"$461,421,559","$372,755",99.9%,"$461,048,804",2020
Demon Slayer the Movie: Mugen Train,"$454,779,627","$49,505,008",89.1%,"$405,274,619",2020
Bad Boys for Life,"$426,505,244","$206,305,244",51.6%,"$220,200,000",2020
"My People, My Homeland","$422,390,820",-,100%,"$422,390,820",2020
Tenet,"$363,704,105","$58,504,105",83.9%,"$305,200,000",2020
...,...,...,...,...,...
Middle School: The Worst Years of My Life,"$23,316,139","$20,007,149",14.2%,"$3,308,990",2016
Triple 9,"$23,177,948","$12,639,297",45.5%,"$10,538,651",2016
Rock Dog,"$23,157,646","$9,420,546",59.3%,"$13,737,100",2016
The Choice,"$23,064,015","$18,730,891",18.8%,"$4,333,124",2016
Penny Pincher!,"$22,955,486",-,100%,"$22,955,486",2016

In [4]:
Film.sample(7)

,Worldwide,Domestic,Change,Foreign,Year
Title,,,,,
Cold War 2,"$103,197,501","$560,824",99.5%,"$102,636,677",2016
47 Meters Down,"$62,187,529","$44,307,191",28.8%,"$17,880,338",2017
Believer,"$39,047,153","$365,639",99.1%,"$38,681,514",2018
Den of Thieves,"$80,509,622","$44,947,622",44.2%,"$35,562,000",2018
Flight Crew,"$29,171,110",-,100%,"$29,171,110",2016
Welcome to Germany,"$28,036,021",-,100%,"$28,036,021",2016
Eiga Doraemon: Nobita no getsumen tansaki,"$65,406,606",-,100%,"$65,406,606",2019

In [5]:
Film.shape

(1000, 5)

In [6]:
Film.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, The Eight Hundred to Penny Pincher!
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Worldwide  1000 non-null   object
 1   Domestic   1000 non-null   object
 2   Change     1000 non-null   object
 3   Foreign    1000 non-null   object
 4   Year       1000 non-null   object
dtypes: object(5)
memory usage: 46.9+ KB

In [7]:
Film.describe()

           Worldwide Domestic Change Foreign  Year
count           1000     1000   1000    1000  1000
unique          1000      698    438     993     5
top     $461,421,559        -   100%       -  2020
freq               1      303    309       7   200

# Notes 
### 1. Numbers have 10-20% Error compare with IBOE